<div id="<%= dom_id food %>" class="bg-white shadow-md rounded-lg p-6 mb-6">
  <p class="text-lg font-semibold text-gray-800">
    <strong>Name:</strong> <%= food.name %>
  </p>

  <p class="text-md text-gray-700">
    <strong>Protein:</strong> <%= food.protein %>g
  </p>

  <p class="text-md text-gray-700">
    <strong>Lipid:</strong> <%= food.lipid %>g
  </p>

  <p class="text-md text-gray-700">
    <strong>Carbohydrate:</strong> <%= food.carbohydrate %>g
  </p>

  <p class="text-md text-gray-700">
    <strong>Food group:</strong> <%= food.food_group_id %>
  </p>
</div>
